<loading *ngIf="!hero && !error"></loading>
<div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>

<div *ngIf="hero">
	<div class="row">
		<div class="col-md-12">
			<h2>{{!isCreating ? hero.name + ' details' : 'New Hero'}} - Now using Reactive Forms!</h2>
			<form (ngSubmit)="save()" [formGroup]="heroForm" novalidate>
				<div class="form-row">
					<div class="col-md-6">
						<div *ngIf="!isCreating" class="form-group">
							<label class="control-label col-md-2" for="id">ID:</label>
							<div class="col-md-10">
								<input type="text" class="form-control" id="id" formControlName="id">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="name">Name: *</label>
							<div class="col-md-10">
								<input #heroNameInput type="text" class="form-control" id="name" placeholder="Name" formControlName="name" [class.is-invalid]="nameMsg">
								<div class="invalid-feedback">{{nameMsg}}</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2" for="description">Description:</label>
							<div class="col-md-10">
								<textarea class="form-control" id="description" placeholder="Description" formControlName="description" [class.is-invalid]="descriptionMsg"></textarea>
								<div class="invalid-feedback">{{descriptionMsg}}</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-2" for="image">Image:</label>
							<div class="input-group col-md-10">
								<input type="text" class="form-control" id="image" placeholder="Image URL" formControlName="image" />
							</div>
						</div>
						<div class="text-center">
							<img class="thumbnail img-responsive" src="{{heroForm.get('image').value}}" (error)="$event.target.src = './assets/no_hero_img.jpg'">
						</div>
						<div class="text-right">
							<button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>
							<button type="submit" class="btn btn-primary" [disabled]="!heroForm.valid">Save</button>
							<loading *ngIf="saveLoading"></loading>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>