<div class="col-md-4">
	
	<div [ngClass]="{ thumbnail: true, gold: first, silver: !first && !last, bronze: last}">
		<h4>{{hero.name}} ({{hero.votes}} <i class="glyphicon glyphicon-thumbs-up"></i>)</h4>
	</div>

	<div *ngIf="allowVotes" class="votes clearfix">
		<button type="button" class="btn btn-default" [disabled]="hero.votes == 10" (click)="updateVotes($event, 1)">
  			<span class="glyphicon glyphicon-thumbs-up"></span>
		</button>
		<button type="button" class="btn btn-default" [disabled]="!hero.votes" (click)="updateVotes($event, -1)">
  			<span class="glyphicon glyphicon-thumbs-down"></span>
		</button>
	</div>

</div>