.gold {
    background: gold !important;
}

.silver {
    background: silver !important;
}

.bronze {
    background: #cd7f32 !important;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.thumbnail {
    position: relative;
    transition: transform .3s;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    margin-bottom: 0;
}

.votes {
    padding: 10px 25px;
}

.votes button:first-child {
    float: left;
}

.votes button:last-child {
    float: right;
}