<div class="row">
  <div class="col-md-12">
    <loading *ngIf="!heroes"></loading>
    <table class="table table-hover">
      <tr *ngFor="let hero of heroes">
        <td>#{{hero.id}}</td>
        <td><a [routerLink]="['/detail', hero.id]">{{hero.name}}</a></td>
        <td>
          <span>{{hero.votes}}</span>
          <button type="button" class="btn btn-secondary" [disabled]="hero.alreadyVoted" (click)="vote(hero)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
        </td>
        <td><button type="button" class="pull-right btn btn-danger" (click)="deleteHero(hero, $event)">Delete</button></td>
      </tr>
    </table>
  </div>
</div>

<!--<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addHero()">Add New Hero</button>
<div *ngIf="addingHero">
  <my-hero-detail></my-hero-detail>
</div>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>-->
