<div class="row">
  <div class="col-md-12">
    <h2>Top heroes!</h2>
  </div>
  <loading *ngIf="!heroes"></loading>
  <div *ngIf="heroes" class="col-md-12">
    <hero-tile *ngFor="let hero of heroes; let first = first; let last = last"
               [hero]="hero"
               [first]="first"
               [last]="last" 
               [allowVotes]="allowVotes"
               (click)="selectedHero = hero"
               (onHeroVotesChanged)="orderHeroes()">
    </hero-tile>
  </div>
</div>

<div class="row">
    <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="allowVotes">
        Allow votes?
      </label>
    </div>
</div>

<hero-details-popup [hero]="selectedHero"></hero-details-popup>
